<div>

    <span role="button" (click)="goBack()">

      <img class="backiocon" title="Back" src="../../assets/resource/img/back.png">
      <span class="backText">Back</span>
    </span>
  </div>
<div>
<form class="form-horizontal" [formGroup]="chitiMonthForm" (ngSubmit)="saveData()" #monthchitiform="ngForm">

  <div class="form-group">
    <label for="soldAmount">Sold Amount</label>
    <input type="text" formControlName="soldAmount" class="form-control" id="soldAmount">
  </div>
  <div class="form-group">
    <label for="month">Month</label>
    <input type="text" formControlName="month" class="form-control" id="month">
  </div>
  <div class="form-group">
    <label for="comm_per">Commission Percentage</label>
    <input type="text" formControlName="comm_per" class="form-control" id="comm_per">
  </div>
  <div class="form-group">
    <label for="comm_amt">Commission Amount</label>
    <input type="text" formControlName="comm_amt" class="form-control" id="comm_amt">
  </div>
  <div class="form-group">
    <label for="takenby">Taken By</label>
    <input type="text" formControlName="takenby" class="form-control" id="takenby">
  </div>

  <button type="submit" class="btn btn-primary btn-xs">Save</button>

</form>

</div>